<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="prycing" translate="label" sortOrder="2000">
            <label>Prycing</label>
        </tab>
        <section id="prycing_prycing"
                 translate="label"
                 type="text"
                 sortOrder="1"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Prycing</label>
            <tab>prycing</tab>
            <resource>Prycing_Prycing::settings</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="feed_url" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Feed url</label>
                    <comment>
                        This is the url of the feed that will be used to get the prices.
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
