<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="prycing" translate="label" sortOrder="2000">
            <label>Prycing</label>
        </tab>
        <section id="prycing_prycing"
                 translate="label"
                 type="text"
                 sortOrder="1"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Prycing</label>
            <tab>prycing</tab>
            <resource>Prycing_Prycing::settings</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="feed_url" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Feed url</label>
                    <comment>
                        This is the url of the feed that will be used to get the prices.
                    </comment>
                </field>
                <field id="price_type" translate="label" type="select" sortOrder="30" showInDefault="1">
                    <label>Price Type</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Select whether Magento prices include VAT (Yes) or exclude VAT (No). Prycing prices always include VAT.
                    </comment>
                </field>
            </group>
            <group id="product_mapping" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Product Mapping</label>
                <field id="ean_field" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>EAN Field</label>
                    <source_model>Prycing\Prycing\Model\Config\Source\ProductAttributes</source_model>
                    <comment>
                        Select the product attribute that contains the EAN number (default: sku)
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
